# Analyser les ventes d'un site de e-commerce spécialisé dans les livres

L'entreprise pour qui vous travaillez souhaite analyser les ventes de son site et mieux connaitre ses clients, ainsi que le détail des ventes de ses produits

Vous pourrez télécharger l'ensemble des données [via ce lien](https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/parcours-data-analyst/dataset_P4.zip)  Les données que vous avez à disposition :   
* les ventes (appelées “Transactions”)  
* la liste des clients  
* la liste des produits.

## Corrélations des données

Vous allez réalisé l’analyse des données. Une grande liberté vous est laissée sur ce plan, mais gardez en tête la mission gloable : nous souhaitons comprendre les ventes.

Vous devrez y utiliser au moins :

* Y a-t-il une corrélation entre le sexe des clients et les catégories de produits achetés ?
* Y a-t-il une corrélation entre l'âge des clients et :  
    Le montant total des achats ;  
    La fréquence d’achat (ie. nombre d'achats par mois par exemple) ;  
    La taille du panier moyen (en nombre d’articles) ;  
    Les catégories de produits achetés.

Il existe 3 corrélations possibles : 
* corrélation entre deux variables quantitatives : matrice de corrélation et heatmap sont souvent utilisés  
* corrélation entre une variable qualitative et une variable quantitative : [ANOVA](https://openclassrooms.com/fr/courses/4525266-decrivez-et-nettoyez-votre-jeu-de-donnees/4774896-analysez-une-variable-quantitative-et-une-qualitative-par-anova)  
* corrélation entre deux variables qualitatives : [Chi-2](https://openclassrooms.com/fr/courses/4525266-decrivez-et-nettoyez-votre-jeu-de-donnees/4775616-analysez-deux-variables-qualitatives-avec-le-chi-2)

In [34]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
df_cln = pd.read_csv('cus_tra5.csv')

In [28]:
df_cln['date']

0         2021-04-10
1         2022-02-03
2         2021-09-23
3         2021-10-17
4         2021-07-17
             ...
313646    2021-07-22
313647    2022-02-03
313648    2021-06-19
313649    2021-03-16
313650    2021-10-30
Name: date, Length: 313651, dtype: object

In [29]:
df_cln["date_n"] = pd.to_datetime(df_cln["date"])

In [33]:
df_cln["date_n"]

0        2021-04-10
1        2022-02-03
2        2021-09-23
3        2021-10-17
4        2021-07-17
            ...
313646   2021-07-22
313647   2022-02-03
313648   2021-06-19
313649   2021-03-16
313650   2021-10-30
Name: date_n, Length: 313651, dtype: datetime64[ns]

In [ ]:
sns.pairplot(df_cln, corner=True)

# Fréquence d'achat

quantité d'achat sur un temps donné 


par mois 
par an

In [19]:
sum_client = df_cln.groupby(['client_id'], sort=True).sum()
# on regroupe les id

In [22]:
cum_sum = sum_client.sort_values(by=['price'], ascending=False)
#organise moi les valeurs de façon décroissante

In [23]:
cum_sum

           Unnamed: 0        price  categ   birth
client_id
c_7959       33755782  2564.250000   38.0  384930
c_8026       31560859  2548.305716   40.0  381754
c_4491       28497214  2540.530000   53.0  333312
c_2140       34218249  2527.010000   43.0  385515
c_8392       31924214  2515.980000   41.0  373842
...               ...          ...    ...     ...
c_8351         117762     6.310000    0.0    1968
c_890          128896     6.080000    0.0    2002
c_1675         158440     5.570000    0.0    2000
c_8114          83389     4.990000    0.0    1962
c_8140         232910     4.150000    0.0    1971

[8596 rows x 4 columns]

In [ ]:
librairie['year_month'] = librairie['date'].dt.strftime('%Y/%m')